#number-input {
    max-width: 40px;
}

#toolbar {
    width: 800px;
    height: 50px;
    justify-content: center;
    background-color: rgba(159, 193, 222, 0.2);
}

#toolbar-content {
    display: flex;
    
}

.input-div {
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    display: flex;
    flex-direction: column;
}